[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pandas = "*"
openpyxl = "*"
matplotlib = "*"
pyqt5 = "*"

[dev-packages]
black = "==21.11b1"
coverage = "*"

[pipenv]
allow_prereleases = true
