[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
pandas = ">=1.1.0"
xlrd = "==1.2.0"
matplotlib = "*"

[dev-packages]
black = "==21.11b1"
flake8 = "==4.0.1"
pre-commit = "*"
coverage = "*"
